@import url('https://fonts.googleapis.com/css?family=Ubuntu:400i');
$col1 : #2C3E50;
$col2 : #FED766;
$text-muted : #ccc;
body {
	font-family: 'Ubuntu', sans-serif;
}
a, a:hover {
	color: $col2;
	text-decoration:none;
}
.ligne-left {
	display:inline-block;
	width:70px;
	height:3px;
	position:relative;
	margin:0 10px 10px 0;
	background-color:$col2;
	
}
.ligne-left:after{
	content:'';
	height:13px;
	width:3px;
	background-color:$col2;
	position:absolute;
	top:-5px;
	right:0;

}
.ligne-right {
	display:inline-block;
	width:70px;
	height:3px;
	position:relative;
	background-color:$col2;
	margin:0 0 10px 10px;
}
.ligne-right:before {
	content:'';
	height:13px;
	width:3px;
	background-color:$col2;
	position:absolute;
	top:-5px;
	left:0;

}
.custom-h1 {
	font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin: -15px 0 10px;
    letter-spacing: -2px;
}
.btn-custom {
	background-color:$col2;
	border-color:$col2;
	color:white;
	padding:10px 30px;
	text-transform:uppercase;

}
.btn-custom:hover {
	background-color:transparent;
	color:$col2;
}
.primary-color {
	color:$col2;
}
.color-dark {
	color:$col1;
}
.custom-p {
	color : #ffffff;
	font-size: 21px;
    letter-spacing: -0.5px;
    line-height: 1;
    font-weight:400;
    margin-bottom:30px;	
}
.text-upercase {
	text-transform: uppercase !important;
}
.bg-cust {
	background-color: $col1; 
}

#about-me {
	position:relative;
	overflow:visible !important;
	background-color:transparent;
	padding-top:150px;
	padding-bottom:50px;
	border:0;
	margin-top:2px;

}
.the-bg {
	background-image:url(../img/bg2.jpg);
	background-size:cover;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:119%;
	background-position:50%;
	z-index:-1;
}

.img-cust {
	border:8px solid white;
	position:absolute;
	max-width:85%;
	top:-60px;
	box-shadow:0px 20px 100px -10px rgba(139, 139, 139, 0.5) !important;
	z-index: 1;

}
.text-cust {
	color:$col2;
	@extend .custom-h1;
	
}

.custom-span {
	display:block;
	color: white;
}

.about-me-links {
	background-color:#ffffff;
	position:relative;

}
.justify-content-end {
	justify-content:flex-end;
	div:hover {
		box-shadow:0px 20px 100px -10px rgba(139, 139, 139, 0.5) !important;
	}
}
.custom-nav {
	display: inline-block;
    padding: 30px 10px;
    font-size: 1.2em;
    letter-spacing: -0.5px;
    line-height: 1.3;
    text-align: center;
}
#info-about-me {
	padding:60px 0px;
}
.About-me-box {
	padding:35px;
	box-shadow:0px 20px 100px -10px rgba(139, 139, 139, 0.5) !important;
	
	
}
.personal-detail {
	padding:35px;
	box-shadow:0px 20px 100px -10px rgba(139, 139, 139, 0.5) !important;
	.row {
		.col-md-6 {
			ul {
				li {
					span {
						text-transform: uppercase;
						font-weight: 600;
						font-size: 0.9em;
						
					}
					span:nth-child(1) {
						    min-width: 100px;
						    display: inline-block;

					}
				}
			}
		}
	}

}

#portfolio {
	padding:60px 0px;
	background:linear-gradient(to bottom, #ffffff 0%, #f6f6f6 );
}
.port-card {
	text-align:center;
	margin: 60px 20px;
	box-shadow:0px 20px 100px -10px rgba(139, 139, 139, 0.5) !important;
	padding-bottom:20px;
	img {
		height:300px;
	}
	a {
		color:#000;
		text-decoration:none
	}
}
#skills {
	padding:60px 0px;
	background:linear-gradient(to bottom, #ffffff 0%, #f6f6f6 );
}
.front {
	
	padding: 15px 20px;
	
}
.backend {
	
	padding: 15px 20px;
	box-shadow:0px 20px 100px -10px #000;
}
.language {
	padding:35px;
	ul {
		list-style-type: none;
		span:nth-child(1) {
			color:$col1;
			
		}
		span {
			min-width:100px;
			display:inline-block;
			font-weight:600;
			color:#000;
			.flag-icon {
				margin:5px;
				line-height:1.5em;
			}

		}
	}
}
.skills{
	
	position:relative;
	
	margin-top:12px;
	/*border: 1px solid #6C7A89;
	box-shadow:inset 0 0 25px #000; */
	
	.skills-lable {
		float:left;
		width:30%;
		margin-top:10px;
	}

	.bar {
		position:relative;
		height:2px;
		width:70%;
		background-color:#ccc;
		margin-top:20px;
		float:left;
		.progress {
			position:absolute;
			overflow:visible;
			top:0;
			left:0;
			
			height:100%;
			background:linear-gradient(to right, #000 , #4c4c4c , #000 , #4c4c4c , #000);
			
		}
		.progress:before {
			content:'';
			position:absolute;
			top:-5px;
			right:0;
			height:12px;
			width:12px;
			border-radius:50%;
			background-color:#000;
			box-shadow:0 0 25px #6C7A89;

		}
		.html {
			animation-name:html;
			animation-duration:5s ;

		}
		.css {
			animation-name:css;
			animation-duration:4s ;
		}
		.js {
			animation-name:js;
			animation-duration:3.5s ;
		}
		.ui {
			animation-name:ui;
			animation-duration:3s ;
		}
		.debug {
			animation-name:debug;
			animation-duration:4s ;
		}
		.django {
			animation-name:django;
			animation-duration:2.5s ;
		}
		.terminal {
			animation-name:terminal;
			animation-duration:4s ;
		}
	}
}


@keyframes html { 
  0%  { width:0px;} 
  100%{ width:98%;}  
  }
@keyframes css { 
  0%  { width:0px;} 
  100%{ width:92%;}  
  }
@keyframes js { 
  0%  { width:0px;} 
  100%{ width:80%;}  
  }
@keyframes ui { 
  0%  { width:0px;} 
  100%{ width:80%;}  
  }
@keyframes debug { 
  0%  { width:0px;} 
  100%{ width:90%;}  
  }
@keyframes django { 
  0%  { width:0px;} 
  100%{ width:65%;}  
  }
@keyframes terminal { 
  0%  { width:0px;} 
  100%{ width:85%;}  
  }


.footer {
  text-align: center;
  background: #000;
  padding: 15px 0;
  color:$col2;

 }


.bar1 {
	position:relative;
	height:2px;
	width:100%;
	background-color:#fff;
	margin:15px 0 10px;
}
/*  Cycle Section  */
#cycle {
	padding: 60px 0;

}

.cycle {
	.cycle-box {
		margin:50px 10px;
	}
	h2 {
		margin:20px;
	}
	span {
		font-size: 5em;
		color: $col2;
	}
	h4 {
		margin: 20px 0;
		text-transform: uppercase;
	}

	.cycle-card {
		padding:25px;
		box-shadow:0 0 25px #ccc;
		border-radius:8%;
		margin:15px;
	}
}

@media (max-width:768px){
	.img-cust{
		display:none;
	}

}

