@import url(https://fonts.googleapis.com/css?family=Oswald:700|Roboto:300,300i,400,700);

body {
  overflow-x: hidden;
  font-family: "Oswald" ,"Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #3498db;
  
}
.text-sec {
  color: #fff;
}

p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a {
  color :#fff;
}
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  color:#3498db;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald" ,"Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
}
.img-centered {
  margin: 0 auto;
}



/* ================================= NAVIGATION BAR =============================== */
.navbar-custom {
  background-color: #3498db;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
.navbar-custom .navbar-brand {
  color: #000;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #fff;
}


.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #3498db;
  border-color: #3498db;
  font-family: "Amiri" ,Arial, sans-serif,serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #777;
}
.navbar-custom .nav li a {
  font-family: "Oswald",sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #fff;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #3498db;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #3498db;
}
.navbar {
  border: 0px;
}
.navbar-brand {
  padding-top: 7px;
  display: inline-block;
}

.navbar-brand img{
  height: 30px;
  display: inline-block;
  padding-right: 1em;

}
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
@media screen and (max-width: 480px) {
    .tab-icon {
      padding: 7px 20px;
      display: flex !important;
      align-items: stretch;
      flex-flow: row nowrap;
      width: 100%;
      list-style: none;
  
  }

    .tab-icon li {
      flex-grow: 1;
      list-style: none;

  }
    .tab-icon li a {
      color:black;
  }
  .cal-num {
      display: none !important;
    }
  .navbar-toggle {
    display: none !important;
}
  
  .navbar-brand {
    display: none !important;
  }
}

/* ====/top bar ====*/ 
.top-bar {
  background: #000000;
  padding-top: 10px;
}

.tab-icon {
  display: none ;
   
}
.social-links {
  
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  list-style: none;

}
.social-links li a:hover,
.social-links li a:focus {
  color: #3498db;
  outline: none;
}
.social-links .nav li a {
  font-weight: 400;
  letter-spacing: 1px;
}
.cal-num a{
  color: #3498db;
  font-weight: bold;
  letter-spacing: 1px;
  padding-right: 20px;
}
.cal-num li{
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}
/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          main-content Headers        */
/********************************/
.carousel-inner{
  z-index:3;
}
.main-content {
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.main-content h1 {
    color: #3498db;
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
    z-index: 3;
}

.fade-carousel .carousel-inner .item .main-content {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .main-content {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%; 
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-primary {
    color: #f5f5f5;
    background-color: #3498db;
    border-color: #3498db;
    outline: none;
    margin: 20px auto;
}
.btn.btn-main-content:hover,
.btn.btn-main-content:focus {
    color: #3498db;
    background-color: transparent;
    border-color: #3498db;
    z-index: 3;
   
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../img/bg-taxi03.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(../img/bg-taxi04.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../img/bg-taxi02.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .main-content { width: 980px; }    
}
@media screen and (max-width: 640px){
    .main-content h1 { font-size: 4em; }    
}
/* ==== Service  ====*/ 
.cab-photo {
  
  padding-left: 0px;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-name: fadeInLeft;
  
}
.cab-photo img {
  border: 0px;
  padding: 70px 0 0 0 ;
}
.service-wrap {
  padding: 50px 0 150px 0;
}
.cab-service h1{
  text-align: center;
 
}
.cab-service p{
  color: #777777;
  margin: 0 20px 0 20px;
  text-align: center;
}
.pickup {
  visibility: visible;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-name: fadeInRight;
  padding: 50px 50px 50px 50px;
}
.cab-service-box {
  display: inline-block;
  margin-top: 40px;
  position: relative;
  text-align: left;
  padding-left: 70px;
}
.cab-service-box span{
  display: inline-block;
  font-weight: 600;
  margin-bottom: 20px;

}
.cab-service-box img{
  position: absolute;
  left: 0;
  top: 36px;
  width: 50px;
  height:100px;
}
.cab-service-box a{
  text-align: left;
  text-decoration: none;
  font-size: 11px;
  font-weight: 600;
  color: #3498db;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
}
.cab-service-box p{
  color: #777777;
}
/* === download ===*/
#download {
  padding: 70px 0;
  background-color: #3498db
}
.doawnload {

}
.app-text h2{
  text-align: center;
  
}
.app-text p{
  text-align: center;
  color: #777777;
}
.apps {
  visibility: visible;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-name: fadeInUpBig;
  margin:30px 0;

}
.apps img{
  padding: 0px;
  border: 0px;
  display: block;
  margin: auto;
}
/* Lead Drivers */
#driver {
  padding:70px 0;
}
.driver-card {
  padding:50px 0;  
  box-shadow: 0 0 25px #000;
  background-color: #3498db;
  text-align: center;
  margin-bottom: 50px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
   transition:  transform 1s ease-in-out;

}
.driver-card:hover {
  transform: rotateY(360deg);
}
.driver-member {
  text-align: center;
  margin-bottom: 50px;
}
.driver-member img {
  margin: 0 auto;
  
}
.driver-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.driver-member p {
  margin-top: 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: black;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: transparent;
  border:2px solid black;
  color: black;
}
/* ========== testimonial ============== */
.testimonial {
    background-image: url(../img/bg-taxi01.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%; 
} 
.testimonial-overlay {
    background-color: #3498db;
    opacity: .9;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.carousel-indicators {
    bottom: -10px;
}
.carousel-inner2 {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.item img {
    border: 1px solid #000;
    border-radius: 50%;
    
} 
.testimonial-caption {
    padding-bottom: 70px;
}
.testimonial-caption h2 {
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
    
}
.testimonial-caption h4 {
    color: #fff;
}

.testimonial-caption h4 span {
    
    color: #666
    font-style: italic;
    font-weight: 300;
    
}

.testimonial-caption p {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;


 }
/* === footer ===*/
 .footer {
  text-align: center;
  background: #000;
  padding: 15px 0;
 }

